.chart-container{
    width: 800px;
    height: 345px !important;
    box-sizing: border-box !important;
    
}
element.style {
    display: inline !important;
    box-sizing: border-box !important;
    height: 345px !important;
    width: 800px !important;
  }